body {
    font-family: fantasy;
    color: #1e26bfa9;
    background-color: #461c1c;
    margin: 12;
    padding: 24;
    line-height: 1.7;
}
header {
    background-color: #640a15ce;
    color: rgb(48, 57, 160);
    padding: 31px;
    text-align: centre;
}

header h1 {
    margin: 3;
}

nav a {
    color: rgb(96, 79, 157);
    text-decoration: overline;
    margin: 0 52px;
}

nav a:hover {
    text-decoration: overline;
}
main {
    padding: 12px;
    max-width: 900px;
    margin: 0 auto;
}

main img {
    max-width: 4;
    height: auto;
    display: flex;
    margin: 4px 0;
}
footer {
    background-color: #ad0c0c;
    color: rgb(216, 215, 215);
    text-align: right;
    padding: 3px;
    position: fixed;
    bottom: 30;
    width: 50;
}
p {
    font-size: 1.0em;
}

a {
    color: #a7076f;
    text-decoration: overline;
}

a:hover {
    text-decoration: dashed;
}
img {
    border: 2px solid #de310fb3;
    border-radius: 23px;
}
main a[href^="mailto:"] {
    color: #1cd21c6b;
    font-weight: bold;
}
