body {
    font-family: fantasy;
    color: #17b817de;
    background-color: #3cb812;
    background-image: url(OIP\ \(3\).webp);
    margin: 12;
    padding: 24;
    line-height: 1.7;
    p{color: #f3f1f1;}
    
}
header {
    
    background-color: #1eac11ce;
    color: rgb(12, 140, 33);
    p{color: #ebeaea;}
    padding: 31px;
    text-align: centre;
}

header h1 {
    margin: 3;
}



nav a {
    color: rgb(13, 154, 76);
    text-decoration: overline;
    margin: 0 52px;
}

nav a:hover {
    text-decoration: overline;
}
main {
    padding: 12px;
    max-width: 900px;
    margin: 0 auto;
}

main img {
    max-width: 4;
    height: auto;
    display: flex;
    margin: 4px ;
}
footer {
    background-color: #0db40d;
    color: rgb(19, 6, 6);
    text-align: right;
    padding: 3px;
    position: fixed;
    bottom: 30;
    width: 50;
}
p {
    font-size: 1.0em;
}

a {
    color: #22a108;
    text-decoration: overline;
}

a:hover {
    text-decoration: dashed;
}
img {
    border: 2px solid #050805dc;
    border-radius: 23px;
}
main a[href^="mailto:"] {
    color: #0cb745c7;
    font-weight: bold;
}
